* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--secondColor);
}
:root {
  --mainColor: #fe7f32;
  --secondColor: #222222;
  --textColor: #eeeeee;
}
body {
  /* height: 500vh; */
  background-color: #000000;
}
.navbar-brand img {
  width: 90px;
}
.first-section {
  background: var(--secondColor);
  height: fit-content;
  position: fixed;
  top: 0%;
  padding-block: 1%;
  z-index: 3000;
}
header i {
  color: var(--mainColor);
  font-size: xx-large;
  padding: 20px;
}

header i:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}
@media (max-width: 380px) {
  header i {
    padding: 20px 10px;
  }
}
.offcanvas.offcanvas-start {
  background-color: var(--secondColor);
}
.offcanvas.offcanvas-start i.fa-xmark {
  color: var(--mainColor);
  font-size: xx-large;
}
.offcanvas.offcanvas-start img {
  width: 90px;
}

.offcanvas.offcanvas-start ul li {
  color: var(--mainColor);
  list-style: none;
  padding: 15px 15px 15px 30px;
  margin: 10px;
  font-size: 22px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
/* .offcanvas.offcanvas-start ul li:first-child {
  background-color: var(--mainColor);
  color: var(--secondColor);
} */

.offcanvas.offcanvas-start ul li:hover {
  background-color: var(--mainColor);
  color: var(--secondColor);
}
.offcanvas.offcanvas-start ul li i {
  color: var(--mainColor);
}
.offcanvas.offcanvas-start ul li:hover i {
  color: var(--secondColor);
}
/* end first section  */
/* start second section  */
.second-section {
  margin-top: 150px;
}

.second-section h1 {
  color: var(--textColor);
}

.second-section p {
  color: var(--textColor);
}

.second-section .row div button:first-child {
  background-color: var(--mainColor);
  padding: 10px 25px 10px 10px;
  color: var(--secondColor);
  border: none;
  border-radius: 9px;
  transition: all 0.2s linear;
}

.second-section .row div button:first-child:hover {
  background-color: var(--textColor);
}
.second-section .row div button:first-child i {
  padding: 0 20px;
  color: var(--secondColor);
  font-size: large;
}

.second-section .row div button:last-child {
  background-color: var(--textColor);
  padding-inline: 10px 13px;
  padding-block: 9px;
  border: none;
  border-radius: 9px;
  transition: all 0.2s linear;
}
.second-section .row div button:last-child:hover {
  background-color: var(--mainColor);
}
.second-section .row div button:last-child i {
  /* padding: 10px; */
  color: var(--secondColor);
  font-size: large;
}

.second-section .row .btns {
  min-width: 250px;
}
/* end second section  */
/* start third section  */
.third-section .card {
  background-color: var(--secondColor);
  position: relative;
  padding: 10px 15px;
  min-height: 170px;
  min-width: 300px;
  max-width: 300px;
  margin-left: 15px;
  transition: all 0.2s linear;
}
.third-section .card:hover {
  background-color: var(--mainColor);
}
.third-section .card:hover small {
  color: var(--secondColor);
}

.third-section .card:hover i {
  background-color: var(--secondColor);
}
.third-section .card:hover p {
  color: var(--secondColor);
}
.third-section .card .title {
  text-transform: uppercase;
  color: var(--textColor);
  border-radius: 0;
  font-size: large;
  position: absolute;
  left: 3%;
  top: 5%;
}

.third-section .card small {
  color: var(--mainColor);
  font-size: large;
  position: absolute;
  right: 3%;
  top: 5%;
}
.third-section .card p {
  color: var(--textColor);
  font-size: xx-large;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.third-section .card .bottom {
  color: var(--textColor);
  text-decoration: underline;
  position: absolute;
  left: 3%;
  bottom: 5%;
}

.third-section .card i {
  font-size: x-large;
  background: var(--mainColor);
  padding: 12px 16px;
  color: #eeeeee;
  position: absolute;
  right: 2%;
  bottom: 5%;
  border-radius: 10px;
}
/* end third section  */

.dataTables_wrapper {
  margin-top: 90px;
}
div.dataTables_wrapper div.dataTables_filter input {
  background-color: white;
}

div.dataTables_wrapper div.dataTables_length select{
  background-color: white;
}

