* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--secondColor);
}
:root {
  --mainColor: #fe7f32;
  --secondColor: #222222;
  --textColor: #eeeeee;
}
/* body { */
/* height: 500vh; */
/* background-color: var(--textColor); */
/* } */
.navbar-brand img {
  width: 90px;
}
.first-section {
  background-image: url("img/foodserviceimage.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
ul li .nav-link {
  color: var(--textColor);
  font-size: large;
  position: relative;
}

ul li .nav-link.hoverAfter::after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 70%;
  bottom: 10%;
  left: 14%;
  background-color: var(--mainColor);
  transform: scaleX(0);
  transition: all 0.2s linear;
}
ul li .nav-link.hoverAfter:hover::after {
  transform: scaleX(1);
}

ul li .nav-link i {
  color: var(--mainColor);
  font-size: large;
}
ul li .nav-link i:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

ul li .nav-link:hover {
  color: var(--mainColor);
}

ul li .nav-link.loginBtn {
  background-color: var(--mainColor);
  padding: 8px 30px;
  border-radius: 10px;
}
ul li .nav-link.loginBtn:hover {
  background-color: #ffffff00;
  /* padding: 8px 14px; */
}
.collapse {
  display: flex;
  justify-content: end;
}

@media (max-width: 990px) {
  .collapse {
    display: flex;
    justify-content: start;
  }
}
.navbar-expand-lg {
  background-color: #0004ff00;
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: all 0.4s linear;
  left: 0;
  top: 0;
  right: 0;
}
.navbar-expand-lg-transparent-remove {
  background-color: var(--textColor);
}

.navbar-expand-lg-transparent-remove ul li .nav-link {
  color: var(--secondColor);
}
.navbar-expand-lg-transparent-remove ul li .nav-link:hover {
  color: var(--mainColor);
}

/* end first section  */

label {
  cursor: pointer;
  &:before {
    display: inline-block;
    content: "+";
    margin: 0 10px 0 0;
    width: 35px;
    height: 35px;
    border: 3px solid #fe7f32;
    border-radius: 100%;
    vertical-align: middle;
    color: #fe7f32;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 0.9em;
    transition: transform 0.2s ease-in-out;
  }
}

input[type="checkbox"]:checked + label:before {
  background: #fe7f32;
  color: #fff;
  transform: rotate(135deg);
  transform-origin: center center;
}

input[type="checkbox"] {
  visibility: hidden;
}

/* rev */
.imagePerso img {
  border-radius: 50%;
}

/* formRvw */
.formRvw input[type="text"] {
  background-color: var(--textColor);
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;

  border-radius: 10px;
}
.formRvw input[type="email"] {
  background-color: var(--textColor);
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  border-radius: 10px;
}

.formRvw input[type="number"] {
  background-color: var(--textColor);
  border: none;
  outline: none;
  width: 100px;
  padding: 8px;
  border-radius: 10px;
}
.ratingLabel {
  font-size: x-large;
}

.formRvw textarea {
  background-color: var(--textColor);
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.formRvw input[type="submit"] {
  background-color: var(--secondColor);
  border: none;
  outline: none;
  width: 140px;
  padding: 8px;
  border-radius: 10px;
  color: var(--textColor);
}

/* start footer   */
footer {
  height: fit-content;
  background-color: var(--secondColor);
}
footer ul {
  list-style: none;
  color: var(--textColor);
}
footer ul li {
  color: var(--textColor);
  padding: 20px;
  font-size: large;
  font-style: italic;
}

footer ul:not(.first-list) li:not(:first-child) {
  opacity: 0.6;
}
footer ul:not(.first-list) li:not(:first-child):hover {
  text-decoration: underline;
}

footer ul li i {
  color: var(--mainColor);
}

footer ul li:first-child {
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
}
footer ul li:first-child:hover {
  color: var(--mainColor);
}
footer ul.first-list li:not(:first-child) {
  font-size: large;
  font-style: italic;
  font-weight: lighter;
}
footer ul.first-list li i {
  font-size: xx-large;
}
footer ul.first-list li form input[type="email"] {
  width: 140px;
  background-color: var(--mainColor);
  border: none;
  outline: none;
  height: 40px;
  /* font-size: 10px; */
}
footer ul.first-list li form input[type="email"]::placeholder {
  color: #fff;
  font-size: small;
}
footer ul.first-list li form input[type="email"]:focus {
  border: none;
  outline: none;
}

footer ul.first-list li form input[type="submit"] {
  background-color: var(--secondColor);
  border: solid 2px var(--mainColor);
  outline: none;
  padding: 5px 6px;
  color: var(--mainColor);
}

/* end footer   */
